$font-stack:    Helvetica, sans-serif;
$primary-color: #666;
$white: #fff;
$textarea-color: $white;
$button-color: #00c5d4;

body {
    font-family: "open sans", san serif;

}

button {
    background-color: $button-color;
    color: $white;
    display: inline-block;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      border: none;
      padding: 5px;
      margin: 10px 0;
}

.wrapper {
    margin: 10px;
    padding: 10px;
}
textarea {
 background-color: $primary-color;
 color: $white;
}

.image-text {
    width: 100%;
}

p{
	display: inline;
}
.definition-container{
	display: none;
}

.url-input {
    background-color: $primary-color;
    color: $white;
}